@media only screen and (max-width: 1920px) and (min-height: 1080px) {
    br {
      display: none;
    }
  }
  
  //?
  
  @media only screen and (max-width: 1120px) {
    #mainContent {
      width: 90%;
    }
  
    #second {
      width: 90%;
    }
  
    #mainContent h2 {
      margin: 3rem 0 0.75rem 0;
    }
  
    .countries {
      display: none;
    }
  
    br {
      display: none;
    }
  
    #thirdSection {
      display: none;
    }
  
    .article {
      width: 65%;
    }
  
    .headerIntro {
      font-size: clamp(3rem, 4vw, 6rem);
    }
  
    .paraIntro {
      font-size: clamp(1.5rem, 1vw, 5rem);
    }
  
    .headerBody {
      font-size: clamp(1.9rem, 2vw, 6rem);
    }
  
    .paraBody {
      font-size: clamp(1.3rem, 1vw, 6rem);
    }
  
    .middle {
      font-size: clamp(1.3rem, 1vw, 6rem);
    }
  }
  
  //?
  
  @media only screen and (max-width: 700px) {
    #pageOne {
      background: url(../Pictures/tabletBG.svg) no-repeat center center fixed;
    }
  
    #mainContent {
      width: 90%;
    }
  
    #mainContent h1 {
      font-size: clamp(3.5rem, 4vw, 6rem);
    }
  
    #mainContent h2 {
      font-size: clamp(3rem, 2vw, 5rem);
      margin: 2rem 0 0.75rem 0;
    }
  
    #mainContent .paragraph {
      font-size: clamp(1.5rem, 3vw, 1.9rem);
    }
  
    .countries {
      display: none;
    }
  
    br {
      display: none;
    }
  
    .footerH {
      font-size: clamp(0.3rem, 1.5rem, 2rem);
      text-align: left;
      margin: 0;
      color: var(--axyOne);
    }
  
    #footer .footerText p {
      font-size: clamp(0.8rem, 1vw, 1.5rem);
  
      color: white;
      margin: 1px;
    }
  
    #footerLogo {
      width: 40px;
    }
  
    #cardContainer {
      width: 450px;
    }
  
    #cardContainer .content .card {
      width: 400px;
      height: 300px;
  
      margin: 5px;
  
      .cardCountry {
        width: 75%;
      }
  
      #palestine {
        width: 25%;
      }
  
      #jordan,
      #lebanon {
        width: 50%;
      }
    }
  
    #syriaPage #syriaMiddle {
      width: 50%;
    }
  
    .article {
      width: 75%;
    }
  
    .headerIntro {
      font-size: clamp(2.5rem, 4vw, 6rem);
    }
  
    .paraIntro {
      font-size: clamp(1.4rem, 1vw, 5rem);
    }
  
    .headerBody {
      font-size: clamp(1.7rem, 2vw, 6rem);
    }
  
    .paraBody {
      font-size: clamp(1.2rem, 1vw, 6rem);
    }
  
    .middle {
      font-size: clamp(1.2rem, 1vw, 6rem);
    }
  }
  
  //?
  
  @media only screen and (max-width: 500px) and (max-height: 1000px) {
    #pageOne {
      background: url(../Pictures/mobileBG.svg) no-repeat center center fixed;
    }
  }
  
  //?
  
  @media only screen and (max-width: 500px) {
    .header {
      height: 60px;
    }
  
    #headerText a #logo {
      width: 20px;
    }
  
    #headerText #settings {
      width: 20px;
    }
  
    #mainContent h1 {
      margin-top: 1rem;
      font-size: clamp(3rem, 4vw, 6rem);
    }
  
    #mainContent h2 {
      font-size: clamp(2.5rem, 2vw, 5rem);
      margin: 2rem 0 0.75rem 0;
    }
  
    #mainContent .paragraph {
      font-size: clamp(1.3rem, 2vw, 1.9rem);
    }
  
    #mainContent #second {
      font-size: clamp(1rem, 4vw, 1.9rem);
    }
  
    .footerH {
      font-size: clamp(1rem, 2vw, 2rem);
    }
  
    .footerDivider,
    #secondDivider {
      margin: 1rem;
    }
  
    #dev {
      align-self: flex-start;
      margin-left: 2rem;
    }
  
    #cardContainer {
      width: 400px;
    }
  
    #cardContainer .content .card {
      width: 370px;
      height: 300px;
  
      margin: 5px;
  
      .cardCountry {
        width: 75%;
      }
  
      #palestine {
        width: 25%;
      }
  
      #jordan,
      #lebanon {
        width: 50%;
      }
    }
  }
  
  //?
  
  @media only screen and (max-width: 400px) {
    #mainContent h1 {
      font-size: clamp(2rem, 4vw, 6rem);
    }
  
    #mainContent h2 {
      font-size: clamp(1.5rem, 2vw, 5rem);
      margin: 2rem 0 0.75rem 0;
    }
  
    #mainContent .paragraph {
      font-size: clamp(1rem, 2vw, 1.9rem);
    }
  
    #mainContent #second {
      font-size: clamp(0.7rem, 4vw, 1.9rem);
    }
  
    #cardContainer {
      width: 350px;
    }
  
    #cardContainer .content .card {
      width: 300px;
      height: 300px;
  
      margin: 5px;
  
      .cardCountry {
        width: 75%;
      }
  
      #palestine {
        width: 25%;
      }
  
      #jordan,
      #lebanon {
        width: 50%;
      }
    }
  }